# npm
node_modules/
npm-debug.log

# Mocha
test/mocha.opts

# Coverage
coverage/

# Complexity report
complexity/

# OSX
.DS_Store

# Dumbledore document store
docs/*
!docs/.gitkeep
logs/*
!logs/.gitkeep
.dumbledore*
config.json
processes.json
