@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');

@font-face {
	font-family: 'HermioneHead';
	src: url("/fonts/head-black.eot");
	src: url("/fonts/head-black.eot?#iefix") format('embedded-opentype'), url("/fonts/head-black.woff") format('woff'), url("/fonts/head-black.ttf") format('truetype'), url("/fonts/head-black.svg#head-black") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HermioneBody';
  src: url("/fonts/body-regular.eot");
  src: url("/fonts/body-regular.eot?#iefix") format('embedded-opentype'), url("/fonts/body-regular.woff") format('woff'), url("/fonts/body-regular.ttf") format('truetype'), url("/fonts/body-regular.svg#body-regular") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'HermioneBody';
  src: url("/fonts/body-bold.eot");
  src: url("/fonts/body-bold.eot?#iefix") format('embedded-opentype'), url("/fonts/body-bold.woff") format('woff'), url("/fonts/body-bold.ttf") format('truetype'), url("/fonts/body-bold.svg#body-bold") format('svg');
  font-weight: bold;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

body {
  font-family: 'HermioneBody', sans-serif;
  color: #303336;
  line-height: 1.5;
}

code, pre {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.9em;
}

pre code {
  font-size: 16px;
  padding: 20px;
}

.hljs {
  padding: 20px;
}

#topbar {
  background: rgba(156,15,111,1);
  background: -moz-linear-gradient(left, rgba(156,15,111,1) 0%, rgba(27,8,166,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(156,15,111,1)), color-stop(100%, rgba(27,8,166,1)));
  background: -webkit-linear-gradient(left, rgba(156,15,111,1) 0%, rgba(27,8,166,1) 100%);
  background: -o-linear-gradient(left, rgba(156,15,111,1) 0%, rgba(27,8,166,1) 100%);
  background: -ms-linear-gradient(left, rgba(156,15,111,1) 0%, rgba(27,8,166,1) 100%);
  background: linear-gradient(to right, rgba(156,15,111,1) 0%, rgba(27,8,166,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c0f6f', endColorstr='#1b08a6', GradientType=1 );
  padding: 32px 36px;
}

#title {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  color: #fff;
  padding-right: 2px;
}

#title a {
  color: #fff;
  text-decoration: none;
}

#tagline {
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
  font-family: 'Source Code Pro';
  position: relative;
  top: -14px;
  color: #d99;
}

h1, h2, h3, h4, h5, h6 {
  color: #222426;
  font-family: 'HermioneHead';
}

#root {
  margin: 72px auto;
  max-width: 768px;
}

#docTitle {
  margin: 0;
  font-size: 2em;
}

#docHeader {
  padding: 0 0 1.33em;
  border-bottom: solid 1px #aaa;
  margin: 0 0 2em;
}

.back {
  margin: 20px 0 0;
  display: inline-block;
  text-decoration: none;
  background: rgba(156,15,111,1);
  background: -moz-linear-gradient(left, rgba(156,15,111,1) 0%, rgba(27,8,166,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(156,15,111,1)), color-stop(100%, rgba(27,8,166,1)));
  background: -webkit-linear-gradient(left, rgba(156,15,111,1) 0%, rgba(27,8,166,1) 100%);
  background: -o-linear-gradient(left, rgba(156,15,111,1) 0%, rgba(27,8,166,1) 100%);
  background: -ms-linear-gradient(left, rgba(156,15,111,1) 0%, rgba(27,8,166,1) 100%);
  background: linear-gradient(to right, rgba(156,15,111,1) 0%, rgba(27,8,166,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c0f6f', endColorstr='#1b08a6', GradientType=1 );
  color: #fff;
  padding: 3px 18px;
  height: 26px;
  font-size: 14px;
  line-height: 26px;
  border-radius: 16px;
}
.back:before { content:"\2190"; padding-right: 4px; }

#tags {
  margin: 15px 0;
}

.tag {
  display: inline-block;
  background: rgba(156,15,111,1);
  padding: 5px 12px 3px;
  margin-right: 10px;
  font-size: 14px;
  border-radius: 16px;
  color: #fff;
  text-decoration: none;
}

#body ul {
  margin: 0;
  padding: 0;
}

#body ul ul {
  padding-left: 20px;
}

#body li {
  list-style: none;
}

#body li a {
  text-decoration: none;
  color: rgba(156,15,111,1);
}

label {
  cursor: pointer;
}

input + .todo-label {
  user-select: none;
  margin-left: 10px;
  display: inline-block;
}

input:checked + .todo-label {
  opacity: 0.33;
}

input[type="text"] {
  font-family: 'Source Code Pro';
  padding: 10px;
  font-size: 21px;
  width: 100%;
  border: none;
  border-bottom: solid 1px #aaa;
  outline: none;
}

@media (max-width: 840px) {
  #root {
    margin-top: 0px;
    padding: 36px;
  }
}
